BUILT_IN_FORGE_API_KEY=
BUILT_IN_FORGE_API_URL=
DATABASE_URL=postgresql
SQL_HOST=
SQL_PORT=5432
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=
SQL_ADMIN_USER=
SQL_ADMIN_PASSWORD=
FIREBASE_API_KEY=
JWT_SECRET=
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
