ARCHIVE_ROOT_PATH=
BUILT_IN_FORGE_API_KEY=
BUILT_IN_FORGE_API_URL=
DATABASE_URL=
FIREBASE_API_KEY=
JWT_SECRET=
LOCAL_MYSQL_DATABASE=
LOCAL_MYSQL_HOST=
LOCAL_MYSQL_PASSWORD=
LOCAL_MYSQL_PORT=
LOCAL_MYSQL_URL=
LOCAL_MYSQL_USER=
OAUTH_SERVER_URL=
OWNER_OPEN_ID=
SQL_ADMIN_PASSWORD=
SQL_ADMIN_USER=
SQL_DB_NAME=
SQL_HOST=
SQL_PASSWORD=
SQL_PORT=
SQL_USER=
SUPABASE_JWKS_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_URL=